.elements__img {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
  object-position: center top;
  transition: opacity 0.3s linear;
}

.elements__img:hover {
  cursor: pointer;
  box-shadow: 0 0 50px black;
}