@import url(./__add-button/profile__add-button.css);
@import url(./__avatar/profile__avatar.css);
@import url(./__edit-button/profile__edit-button.css);
@import url(./__info/profile__info.css);
@import url(./__name/profile__name.css);
@import url(./__occupation/profile__occupation.css);
@import url(./__container/profile__container.css);

.profile {
  width: 69vw;;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 882px;
}

@media (max-width: 1279px) {
  .profile {
    width: 90vw;
  }
}

@media (max-width: 410px) {
  .profile {
    width: 282px;
  }
}