@import url(./__picture/popup-image__picture.css);
@import url(./__title/popup-image__title.css);


.popup-image {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0;
}