.popup__btn {
  width: 358px;
  min-height: 50.15px;
  margin: 48px 36px 36.51px;
  padding: 0;
  background: #000;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFF;
  border: 0;
  font-family: 'Inter', Arial, Tahoma;
  font-weight: normal;
}

.popup__btn:hover {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

@media (max-width: 960px) {
  .popup__btn  {
    align-self: center;
  }
}

@media (max-width: 425px) {
  .popup__btn  {
    width: 282px;
    font-size: 16px;
    line-height: 1.2;
    min-height: 40px;
    margin: 40px auto 30px;
  }
}


