.profile__edit-button {
  width: 24px;
  height: 24px;
  background-image: url(../../../images/edit-btn.svg);
  background-color: rgba(1, 1, 1, 1);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #FFF;
  outline: none;
  transition: opacity 0.5s linear;
  align-self: flex-end;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media (max-width: 768px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}
