@import url(../vendor/normalize.css);
@import url(../vendor/inter.css);
@import url(../blocks/page/page.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/header/header.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/elements/__like/_active/elements__like_active.css);
@import url(../blocks/elements/__element/_deleted/elements__element_deleted.css);
@import url(../blocks/popup-image/popup-image.css);
@import url(../blocks/popup-image/_active/popup-image_active.css);
@import url(../blocks/popup/__text-error/popup__text-error.css);
@import url(../blocks/popup/__text-error/_visible/popup__text-error_visible.css);
@import url(../blocks/popup/__text/_type_error/popup__text_type_error.css);
@import url(../blocks/popup/__btn/_inactive/popup__btn_inactive.css);
@import url(../blocks/popup-submit/popup-submit.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/elements/__del/_active/elements__del_active.css);
@import url(../blocks/profile/__avatar/_overlay/profile__avatar_overlay.css);



