.profile__info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 340px;
  margin-left: 30px;
  margin-top: 18px;
  margin-bottom: 25px;
}

@media (max-width: 711px) {
  .profile__info {
    margin-bottom: 0;
    justify-content: center;
  }
}

@media (max-width: 583px) {
  .profile__info {
    margin-left: 0;
    width: 282px;
  }
}