.elements__like {
  margin: 0;
  margin-bottom: 3px;
  width: 21px;
  height: 18px;
  background-image: url(../../../images/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0;
  transition: opacity 0.5s linear;
}

.elements__like:hover {
  opacity: 0.6;
  cursor: pointer;
}
