.elements__element {
  max-width: 282px;
  height: 361px;
  background: #FFFFFF;
  border-radius: 10px;
  margin-bottom: 21px;
  list-style: none;
}

@media (max-width: 768px) {
  .elements__element {
    margin-bottom: 20px;
  }
}
