.popup__text {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0;
  padding-bottom: 13.26px;
  width: 358px;
  margin-left: 36px;
}

.popup__text:first-of-type {
  margin-bottom: 29.74px;
}

.popup__text::-webkit-input-placeholder { 
  color: rgba(0, 0, 0, 1);
  font-family: 'Inter', Arial, serif;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  font-weight: normal;
}

.popup__text::-ms-input-placeholder  { 
  color: rgba(0, 0, 0, 1);
  font-family: 'Inter', Arial, serif;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  font-weight: normal;
}

.popup__text::-moz-placeholder   { 
  color: rgba(0, 0, 0, 1);
  font-family: 'Inter', Arial, serif;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  font-weight: normal;
}

.popup__text::placeholder { 
  color: rgba(0, 0, 0, 1);
  font-family: 'Inter', Arial, serif;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  font-weight: normal;
}

@media (max-width: 960px) {
  .popup__text  {
    align-self: center;
    margin-left: 0;
  }
}

@media (max-width: 425px) {
  .popup__text  {
    width: 282px;
  }
}